[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hacker/Desktop/customizationFiles]
row=8
col=0

[/home/hacker/Desktop/customize.zip]
row=9
col=0

[Trash]
row=11
col=0

[/home/hacker]
row=10
col=0

